@use "../extension" as *;
@use "../variables" as var;

body {
  min-height: 100vh;
  padding-right: var(--scrollbar-width, 0);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: var(--color-text);
  letter-spacing: 0.05em;
  background-color: var(--color-background);
}

a {
  color: inherit;
  color: var(--color-text);
  text-decoration: none;
}

:focus-visible {
  outline: rem(2) solid var(--color-text);
  outline-offset: -3px;
}

::selection {
  color: var(--color-background);
  background-color: var(--color-text);
}
